.card {
  position: relative;
  width: 100%;
  background-size: cover;
  height: 300px;
  justify-content: center;
}

.card-title{
  text-align: center;
}
.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: flex;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
// .card-title, .card-text{
//   color: black;
// }

img{
  width: 50px;
}
